* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background: linear-gradient(0deg, white 0%, #3600fa 100%); }

/* INDEX HEADER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  background: linear-gradient(0deg, white 96%, #f1f0f0 100%); }

.main__Main {
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%); }

body {
  background: linear-gradient(0deg, white 96%, #f1f0f0 100%);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.section__Textoc {
  background-image: url(/imagenes/trr.jpg);
  color: aliceblue; }

.primer__main__rut {
  background-color: crimson; }

.texto {
  color: black; }

.textoo {
  color: aliceblue; }

.section__TextoJ {
  background-image: url(/imagenes/trr.jpg);
  color: aliceblue; }

.texto {
  font-size: x-large; }

.headerh1 {
  padding-left: 9rem;
  color: black;
  text-transform: uppercase;
  text-decoration-line: overline;
  font-size: xx-large;
  margin-top: 1%;
  margin-bottom: 1%; }

nav {
  padding-right: 3rem;
  margin-top: 1%;
  margin-bottom: 1%; }

.nev > a {
  text-decoration: overline;
  font-size: larger;
  color: #030202; }

.nev > a:hover {
  color: rgba(161, 14, 14, 0.897); }

.headerh1:hover {
  color: #ec8d0f; }

.chris {
  display: flex;
  justify-content: center; }

.alfonso {
  display: flex;
  justify-content: center; }

.david {
  display: flex;
  justify-content: center; }

.mike {
  display: flex;
  justify-content: center; }

.primer__main {
  display: flex;
  justify-content: center;
  align-items: center; }

.section__TextoJ {
  color: #1db985;
  display: inline;
  justify-self: flex-end; }

.section__Titlepro {
  padding: 2rem;
  border-style: inset;
  margin-top: 5rem;
  margin-bottom: 5rem; }

.productor__area {
  display: flex;
  justify-content: center;
  align-items: center; }

.section__ProductorC {
  color: #719e8f;
  margin: 0 3% 1% 3%; }

.chris {
  text-decoration: underline;
  color: #0e0b0b;
  margin-bottom: 2rem;
  padding-bottom: 2%;
  display: flex;
  justify-content: center; }

.section__ProductorA {
  color: #719e8f;
  margin: 1% 3% 1% 3%; }

.alfonso {
  text-decoration: underline;
  color: #070505;
  margin-bottom: 2rem;
  padding-bottom: 2%;
  display: flex;
  justify-content: center; }

.section__ProductorM {
  color: #719e8f;
  margin: 1% 3% 1% 3%; }

.mike {
  text-decoration: underline;
  color: #0c0a0a;
  margin-bottom: 2rem;
  padding-bottom: 2%;
  display: flex;
  justify-content: center; }

.section__ProductorD {
  color: #719e8f;
  margin: 1% 3% 1% 3%; }

.david {
  text-decoration: underline;
  color: #070505;
  margin-bottom: 2rem;
  padding: 2%;
  display: flex;
  justify-content: center; }

.section__Textoc {
  color: #719e8f;
  padding: 1% 1% 1% 1%; }

.directores {
  display: flex;
  display: inline;
  align-content: flex-start; }

.tt {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #080707;
  padding: 1% 0 1%; }

.section__TextoJ {
  color: #719e8f;
  padding: 1% 1% 1% 1%; }

.ttj {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #070505;
  padding: 1% 0 1%; }

/* END INDEX HEADER---------------------------------------------------------------------------------------------------------------------------------------------------END INDEX HEADER */
/* ACTORES SECTION----PAGINA DEL INDEX----------------------------------------------------------------------------------------------------PAGINA DEL INDEX--------------------ACTORE SECTION */
.contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "hp3" "hp6" "hp13" "hp14" "hp36" "hp44" "hp46"; }

.hp3 {
  grid-area: hp3; }

.hp6 {
  grid-area: hp6; }

.hp13 {
  grid-area: hp13; }

.hp14 {
  grid-area: hp14; }

.hp36 {
  grid-area: hp36; }

.hp44 {
  grid-area: hp44; }

.hp46 {
  grid-area: hp46; }

.contenedor {
  display: flex;
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%);
  padding-bottom: 2rem;
  flex-direction: column; }

.section__contenedor--actores {
  font-size: xx-large;
  color: #050404;
  display: flex;
  justify-content: center; }

.contenedor img {
  padding: 2rem 0 2rem 0; }

.hp3 {
  justify-content: flex-start;
  margin-left: 10rem; }

.hp6 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem; }

.hp13 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10rem; }

.hp14 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem; }

.hp36 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10rem; }

.hp44 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem; }

.hp46 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10rem; }

.hp111 {
  background-color: brown;
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important; }

.hp112 {
  background-color: brown;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important; }

.hp113 {
  background-color: brown;
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important; }

.hp114 {
  background-color: brown;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important; }

.hp115 {
  background-color: brown;
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important; }

.hp116 {
  background-color: brown;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important; }

.hp117 {
  background-color: brown;
  display: flex !important;
  align-content: center !important;
  flex-wrap: wrap !important; }

/* END------------------------------------------------------------------------------------------------------------------------------------------------------------SECTION ACTORES FIN */
/* PAGINAS ACTORES------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINAS ACTORES */
/* DANIEL RADCLIFE---------------------------------------------------------------------------------------------------------------------------------------------------------DANIEL RADCLIFE */
.drhp {
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%); }

.harry {
  margin: 1rem 0 1.5rem 9rem;
  color: black;
  text-decoration: overline; }

.harryp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* DANIEL RADCLIFFE------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* BONNI WRIGHT------------------------------------------------------------------------------------------------------------------------------------------------------------------BONNI WRIGHT*/
.drhp {
  background-color: brown; }

.wright {
  margin: 1rem 0 1.5rem 9rem;
  color: black;
  text-decoration: overline; }

.wrightp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* BONNI WRIGHT---------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* EMMA WATSON------------------------------------------------------------------------------------------------------------------------------------------------------------------EMMA WATSOM*/
.drhp {
  background-color: brown; }

.watson {
  margin: 1rem 0 1.5rem 9rem;
  color: black;
  text-decoration: overline; }

.watsonp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* EMMA WATSON------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* EVANNA LINCH-------------------------------------------------------------------------------------------------------------------------------------------------------------------EVANNA LYNCH*/
.drhp {
  background-color: brown; }

.lynch {
  margin: 1rem 0 1.5rem 9rem;
  color: black;
  text-decoration: overline; }

.lynchp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* EVANNA LYNCH-----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* MATTHEW LEWIS-------------------------------------------------------------------------------------------------------------------------------------------------------------------MATTHEW LEWIS*/
.drhp {
  background-color: brown; }

.lewis {
  margin: 1rem 0 1.5rem 9rem;
  color: rgbrgb(0, 0, 0);
  text-decoration: overline; }

.lewisp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* MATTHEW LEWIS----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* RUPERT GRINT------------------------------------------------------------------------------------------------------------------------------------------------------------------RUPERT GRINT*/
.drhp {
  background-color: brown; }

.grint {
  margin: 1rem 0 1.5rem 9rem;
  color: rgbrgb(0, 0, 0);
  text-decoration: overline; }

.grintp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* RUPERT GRINT-----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/
/* TOM FELTON------------------------------------------------------------------------------------------------------------------------------------------------------------------TOM FELTON*/
.drhp {
  background-color: brown; }

.felton {
  margin: 1rem 0 1.5rem 9rem;
  color: rgbrgb(0, 0, 0);
  text-decoration: overline; }

.feltonp {
  margin: 0 0 5rem 2rem;
  color: black;
  font-size: x-large; }

.section__Radcliffe {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "RDdos RDtres RDcinco" "RDsiete RDcuatro RDseis"; }

.RDdos {
  grid-area: RDdos;
  margin: 0.3rem; }

.RDtres {
  grid-area: RDtres;
  margin: 0.3rem; }

.RDcuatro {
  grid-area: RDcuatro;
  margin: 0.3rem; }

.RDcinco {
  grid-area: RDcinco;
  margin: 0.3rem; }

.RDseis {
  grid-area: RDseis;
  margin: 0.3rem; }

.RDsiete {
  grid-area: RDsiete;
  margin: 0.3rem; }

/* TOM FELTON--------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/
/* PAGINAS ACTORES---------------------------------------------------------------------------------------------------------------------------------------------------PAGINAS ACTORES FIN*/
/* FONDOS---------------------------------------------------------------------------------------------------------------------------------------------------------------------------FONDOS*/
.fondohp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.fondo {
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%); }

.item {
  display: block;
  width: 100%;
  height: 200px; }

.item img {
  height: 100%;
  width: 100%; }

.carousel > .carousel-inner > .item > img {
  width: 640px;
  height: 360px; }

.carousel {
  width: 640px;
  height: 360px; }

.fondohp {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center; }

.fondohp > div {
  margin: 1rem; }

.fondohp > a > img {
  background-color: brown;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem; }

.roca {
  background-color: brown; }

/* FIN----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* GIF----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------GIF*/
.gif {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; }

.gif {
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%);
  justify-items: center; }

.gif > img {
  margin: 1% 0.5% 0 0.5%; }

/* FIN---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/
/* CONTACTO ---------------------------------------------------------------------------------------------------------------------------------------------------------------------CONTACTO*/
.body__contacto {
  height: 100;
  background: linear-gradient(0deg, #ad6e6e 96%, #ad6e6e 100%); }

.section__From {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

/* FIN --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/
/* FOOTER----------------------------------------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/
.pie {
  background-color: #df8787; }

footer {
  font-size: xx-large;
  height: 4rem;
  background-color: #a13030;
  text-align: center; }

.fot {
  padding-top: 1rem;
  text-decoration: underline; }

.fot:hover {
  color: #850e0e; }

/*FIN------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/
/* KEYFRAMES-----------------------------------------------------------------------------------------------------------------------------------------------------------------------KEYFRAMES */
/* ----------------------------------------------
 * Generated by Animista on 2022-5-29 11:41:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* FIN-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */
/* MEDIAS Q --------------------------------------------------------------------------------------------------------------------------------------------------------------------MEDIAS Q */
@media screen and (max-width: 1200px) {
  .fondohp {
    grid-template-columns: auto auto; } }

@media screen and (max-width: 1104px) {
  .headerh1 {
    padding-left: 0.2rem; }
  header {
    flex-direction: column; }
  nav {
    padding-left: 2rem;
    padding-right: 1rem; }
  .main__Main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "section__Textoc" "section__TextoJ " "section__Titlepro" "section__ProductorC" "section__ProductorA" "section__ProductorM" "section__ProductorD"; }
  .fondohp {
    display: grid;
    grid-template-columns: auto;
    padding: 0.5rem; }
  .gif {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (max-width: 768px) {
  header {
    align-items: center;
    flex-direction: column; }
  .headerh1 {
    padding-left: 0.2rem; }
  nav {
    padding-left: 2rem;
    padding-right: 1rem; }
  .contenedor {
    display: flex;
    flex-direction: column; }
  .hp3 {
    display: block;
    justify-content: center; }
  .hp6 {
    display: block;
    justify-content: center; }
  .hp13 {
    display: block;
    justify-content: center; }
  .hp14 {
    display: block;
    justify-content: center; }
  .hp36 {
    display: block;
    justify-content: center; }
  .hp44 {
    display: block;
    justify-content: center; }
  .hp46 {
    display: block;
    justify-content: center; }
  .contenedor {
    background-color: brown;
    display: flex;
    flex-direction: column; }
  .hp3 {
    display: block;
    justify-content: center; }
  .hp6 {
    display: block;
    justify-content: center; }
  .hp13 {
    display: block;
    justify-content: center; }
  .hp14 {
    display: block;
    justify-content: center; }
  .hp36 {
    display: block;
    justify-content: center; }
  .hp44 {
    display: block;
    justify-content: center; }
  .hp46 {
    display: block;
    justify-content: center; }
  .fondohp {
    display: grid;
    grid-template-columns: auto;
    padding: 0.5rem; }
  .gif {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (min-width: 320px) and (max-width: 562px) {
  .headerh1 {
    padding-left: 0.2rem; }
  header {
    flex-direction: column; }
  nav {
    display: inline-flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 1rem; }
  .contenedor {
    background-color: brown;
    display: flex;
    flex-direction: column; }
  .hp3 {
    display: block;
    justify-content: center; }
  .hp6 {
    display: block;
    justify-content: center; }
  .hp13 {
    display: block;
    justify-content: center; }
  .hp14 {
    display: block;
    justify-content: center; }
  .hp36 {
    display: block;
    justify-content: center; }
  .hp44 {
    display: block;
    justify-content: center; }
  .hp46 {
    display: block;
    justify-content: center; }
  .fondohp {
    display: grid;
    grid-template-columns: auto;
    padding: 0.5rem; }
  .gif {
    display: grid;
    grid-template-columns: auto; } }

@media screen and (max-width: 320px) {
  .headerh1 {
    padding-left: 0.2rem; }
  header {
    flex-direction: column; }
  nav {
    display: inline-flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 1rem; }
  .primer__main {
    display: flex;
    flex-direction: column; }
  .productor__area {
    display: flex;
    flex-direction: column; }
  .contenedor {
    display: flex;
    flex-direction: column; }
  .hp3 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp6 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp13 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp14 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp36 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp44 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  .hp46 {
    display: block;
    justify-content: center;
    margin: 0 0.5rem 0 0.5rem; }
  #carouselExampleIndicators {
    height: 10rem;
    width: 20rem; }
  iframe {
    height: 10rem;
    width: 20rem; }
  .fondohp > a > img {
    height: 10rem;
    width: 20rem; }
  .gif > img {
    height: 10rem;
    width: 20rem; }
  .section__Infowright {
    display: inline-block; }
  .section__Radcliffe {
    display: flex;
    flex-direction: column; }
  .section__Infodr {
    display: inline-block; }
  .section__Infowatson {
    display: inline-block; }
  .section__Infolynch {
    display: inline-block; }
  .section__Infolewis {
    display: inline-block; }
  .section__Infogrint {
    display: inline-block; }
  .section__Infofelton {
    display: inline-block; }
  .hp3 {
    flex-direction: column; }
  .hp6 {
    flex-direction: column; }
  .hp13 {
    flex-direction: column; }
  .hp14 {
    flex-direction: column; }
  .hp36 {
    flex-direction: column; }
  .hp44 {
    flex-direction: column; }
  .hp46 {
    flex-direction: column; } }
