/* FONDOS */

.item {
    display: block;
    width: 100%;
    height: 200px;
    .item img {
        height: 100%;
        width: 100%;
    }
}
.carousel>.carousel-inner> .item> img {
    width: 640px; 
    height: 360px; 
   }
.carousel {width: 640px; height: 360px; }
/* .fondohp{
    background: linear-gradient(0deg, rgba(72,72,77,1) 0%, rgba(112,92,92,1) 50%, rgba(83,83,83,1) 100%);    /* background-color: rgba(11, 41, 53, 0.76); */

.fondohp{
    
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.5rem;
    .fondohp>a>img{
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}


/* GIF */
.gif{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.gif{
    background: linear-gradient(0deg, rgba(72,72,77,1) 0%, rgba(112,92,92,1) 50%, rgba(83,83,83,1) 100%);    /* background-color:rgba(11, 41, 53, 0.76) ; */
    justify-items: center;
    
    .gif>img{
        margin: 1% 0.5% 0 0.5%;
    }
}