@mixin propiedad {

    text-decoration: underline;
    color: rgb(126, 36, 36);
     margin-bottom: 2rem;
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 
}
.chris{
@include propiedad;
}

.alfonso{

   @include propiedad;
}

.mike{
@include propiedad;
}

.david{
@include propiedad;
}