/* FOOTER----------------------------------------------------------------------------------------------------------------------------------------------------------------------------FOOTER*/

.pie{
    background-color: rgb(223, 135, 135);
    }

    footer{
    font-size: xx-large;
    height: 4rem;
    background-color: rgb(161, 48, 48);
    text-align: center;
    }

    .fot{
    padding-top: 1rem ;
    text-decoration:underline;
    }

    .fot:hover{
    color: rgb(133, 14, 14);
    }

/*FIN------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/