/* GIF----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------GIF*/
.gif{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.gif{
    background:$backgbody;
        justify-items: center;
    
}
.gif>img{
    margin: 1% 0.5% 0 0.5%;
}

/* FIN---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/