*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerh{
    background:$backheader;

}


/* INDEX HEADER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.main__Main{
    background:$backgbody;}

  body{ 
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                        "main"
                        "footer";
                    }
                 

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.section__Textoc{
    background-image: url(/imagenes/trr.jpg);
    color: aliceblue;
}
.primer__main__rut{
background: rgba(5, 7, 12, 0.40);

}
.texto{
    color:$textocolordos;
}
.textoo{
    color: aliceblue;
}
.section__TextoJ{
    background-image: url(/imagenes/trr.jpg);
    color: aliceblue;
}

.texto{
    
    font-size: x-large;
}



.headerh1{    
    padding-left: 9rem;
    color: rgb(255, 255, 255);
    text-transform:uppercase;
    text-decoration-line: overline;
    font-size: xx-large;
    margin-top: 1%;
    margin-bottom: 1%;
}

    nav{
    padding-right: 3rem;
    margin-top: 1%;
    margin-bottom: 1%; 
}  


 .nev>a{
 
    text-decoration:overline;
    font-size: larger;
    color: rgb(255, 255, 255);
} 
.nev>a:hover{
    color: rgba(255, 0, 0, 0.897);
    
}
.headerh1:hover{
    color: rgb(223, 168, 97);
}

.chris, .alfonso, .david, .mike{
    display: flex;
    justify-content: center;
}

  .primer__main{
      display: flex; 
    justify-content: center;
    align-items: center; 
}

.section__TextoJ{

     display: inline;
 justify-self: flex-end; 

}

.section__Titlepro{
    padding: 2rem;
    border-style:inset;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


 .productor__area{
      display: flex;
     justify-content: center;
     align-items: center;   
}

.chris, .alfonso, .mike, .david {

    text-decoration: underline;
    color: rgb(14, 11, 11);
     margin-bottom: 2rem;
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 

}

.directores{
    display: flex;
    display: inline;
    align-content:flex-start;
   
}

.tt, .ttj{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: rgb(8, 7, 7);
    padding: 1% 0 1%;
}



/* END INDEX HEADER---------------------------------------------------------------------------------------------------------------------------------------------------END INDEX HEADER */