*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(54,0,250,1) 100%);

}


/* INDEX HEADER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
body{
    background: linear-gradient(0deg, rgba(255,255,255,1) 96%, rgba(241,240,240,1) 100%);}
.main__Main{
    background:$backgbody;}

  body{ 
    background: linear-gradient(0deg, rgba(255,255,255,1) 96%, rgba(241,240,240,1) 100%);    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header"
                        "main"
                        "footer";
                    }
                 

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

.section__Textoc{
    background-image: url(/imagenes/trr.jpg);
    color: aliceblue;
}
.primer__main__rut{
background-color: crimson;
}
.texto{
    color:$textcolor;
}
.textoo{
    color: aliceblue;
}
.section__TextoJ{
    background-image: url(/imagenes/trr.jpg);
    color: aliceblue;
}

.texto{
    
    font-size: x-large;
}



.headerh1{    
    padding-left: 9rem;
    color: rgb(0, 0, 0);
    text-transform:uppercase;
    text-decoration-line: overline;
    font-size: xx-large;
    margin-top: 1%;
    margin-bottom: 1%;
}

    nav{
    padding-right: 3rem;
    margin-top: 1%;
    margin-bottom: 1%; 
}  


 .nev>a{
 
    text-decoration:overline;
    font-size: larger;
    color: rgb(3, 2, 2);
} 
.nev>a:hover{
    color: rgba(161, 14, 14, 0.897);
    
}
.headerh1:hover{
    color: rgb(236, 141, 15);
}

.chris{
    display: flex;
    justify-content: center;
}
.alfonso{
    display: flex;
    justify-content: center;
}
.david{
    display: flex;
    justify-content: center;
}
.mike{
        display: flex;
    justify-content: center;
}
  .primer__main{
      display: flex; 
    justify-content: center;
    align-items: center; 
}

.section__TextoJ{
    color: rgb(29, 185, 133);
     display: inline;
 justify-self: flex-end; 

}

.section__Titlepro{
    padding: 2rem;
    border-style:inset;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


 .productor__area{
      display: flex;
     justify-content: center;
     align-items: center;   
}
.section__ProductorC{
    color: rgb(113, 158, 143);
      margin: 0 3% 1% 3%;  
}
.chris{

    text-decoration: underline;
    color: rgb(14, 11, 11);
     margin-bottom: 2rem;
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 

}
.section__ProductorA{
    color: rgb(113, 158, 143);
     margin: 1% 3% 1% 3%;
     
}
.alfonso{
    text-decoration: underline;
    color: rgb(7, 5, 5);
     margin-bottom: 2rem;
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 

   
}
.section__ProductorM{
    color: rgb(113, 158, 143);
     margin: 1% 3% 1% 3%;    
}
.mike{
    text-decoration: underline;
    color: rgb(12, 10, 10); 
      margin-bottom: 2rem; 
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 

    
}
.section__ProductorD{
    color: rgb(113, 158, 143);
     margin: 1% 3% 1% 3%;  
   
}
.david{
    text-decoration: underline;
    color: rgb(7, 5, 5);  
     margin-bottom: 2rem; 
    padding: 2%;
    display: flex;
    justify-content: center; 
  
}

.section__Textoc{
    color: rgb(113, 158, 143);
   
    padding: 1% 1% 1% 1% ; 
}


.directores{
    display: flex;
    display: inline;
    align-content:flex-start;
   
}

.tt{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: rgb(8, 7, 7);
    padding: 1% 0 1%;
}
.section__TextoJ{
    color: rgb(113, 158, 143);
  
    padding: 1% 1% 1% 1% ; 
}
.ttj{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: rgb(7, 5, 5);
   
    padding: 1% 0 1%;
}   

/* END INDEX HEADER---------------------------------------------------------------------------------------------------------------------------------------------------END INDEX HEADER */