/* PAGINAS ACTORES------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINAS ACTORES */

/* DANIEL RADCLIFE---------------------------------------------------------------------------------------------------------------------------------------------------------DANIEL RADCLIFE */
.drhp{
    background:$backdrhp;}
.harry{
    margin: 1rem 0 1.5rem 9rem;
    color: rgb(0, 0, 0);
    text-decoration:overline;
}

.harryp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* DANIEL RADCLIFFE------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */


/* BONNI WRIGHT------------------------------------------------------------------------------------------------------------------------------------------------------------------BONNI WRIGHT*/
.drhp{
    background-color: $backdrhp;}
.wright{
    margin: 1rem 0 1.5rem 9rem;
    color: rgb(0, 0, 0);
    text-decoration:overline;
}

.wrightp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* BONNI WRIGHT---------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */


/* EMMA WATSON------------------------------------------------------------------------------------------------------------------------------------------------------------------EMMA WATSOM*/
.drhp{
    background-color: $backdrhp;}
.watson{
    margin: 1rem 0 1.5rem 9rem;
    color: rgb(0, 0, 0);
    text-decoration:overline;
}

.watsonp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* EMMA WATSON------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */


/* EVANNA LINCH-------------------------------------------------------------------------------------------------------------------------------------------------------------------EVANNA LYNCH*/
.drhp{
    background-color: $backgbody;}
.lynch{
    margin: 1rem 0 1.5rem 9rem;
    color: rgb(0, 0, 0);
    text-decoration:overline;
}

.lynchp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* EVANNA LYNCH-----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */


/* MATTHEW LEWIS-------------------------------------------------------------------------------------------------------------------------------------------------------------------MATTHEW LEWIS*/
.drhp{
    background-color:$backgbody;}
.lewis{
    margin: 1rem 0 1.5rem 9rem;
    color: rgbrgb(0, 0, 0);
    text-decoration:overline;
}

.lewisp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* MATTHEW LEWIS----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN */


/* RUPERT GRINT------------------------------------------------------------------------------------------------------------------------------------------------------------------RUPERT GRINT*/ 
.drhp{
    background-color:$backgbody;
}

.grint{
    margin: 1rem 0 1.5rem 9rem;
    color: rgbrgb(0, 0, 0);
    text-decoration:overline;
}

.grintp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* RUPERT GRINT-----------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/

/* TOM FELTON------------------------------------------------------------------------------------------------------------------------------------------------------------------TOM FELTON*/
.drhp{
background-color: $backgbody;}

.felton{
    margin: 1rem 0 1.5rem 9rem;
    color: rgbrgb(0, 0, 0);
    text-decoration:overline;
}

.feltonp{
    margin: 0 0 5rem 2rem;
    color: $textocolordos;
    font-size:x-large;
}
.section__Radcliffe{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "RDdos RDtres RDcinco"
                         "RDsiete RDcuatro RDseis";
   }

   .RDdos{
       grid-area:RDdos ;
       margin: 0.3rem;
   }
   .RDtres{
    grid-area: RDtres;
    margin: 0.3rem;
    }
    .RDcuatro{
    grid-area: RDcuatro ;
    margin: 0.3rem;
    }
    .RDcinco{
    grid-area: RDcinco ;
    margin: 0.3rem;
    }
    .RDseis{
    grid-area: RDseis ;
    margin: 0.3rem;
    }
    .RDsiete{
    grid-area: RDsiete ;
    margin: 0.3rem;
}
/* TOM FELTON--------------------------------------------------------------------------------------------------------------------------------------------------------------------------FIN*/

/* PAGINAS ACTORES---------------------------------------------------------------------------------------------------------------------------------------------------PAGINAS ACTORES FIN*/